
<div class="container text-center padded">
  <h1>Our team</h1>


<ul class="list-inline text-center">
  <% ["kelly", "taj", "john"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "avatar-team" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>

<h3 class="padded">
    <a href="mailto:contact@airbnb.com">
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
  </h3>


<!-- </i><a href="#"><i class="fa fa-envelope"></i><h4 class="text-center"> contact@airbnb.com</h4></a> -->

</div>
